<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <style>
      .carousel-item {
        position: relative;
        height: 890px;
        overflow: hidden;
        width: 100%;
      }
      .carousel-item img {
      width: 100%;
      }
      .img-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
      }
      .img-overlay:before {
        content: ' ';
        display: block;
        /* adjust 'height' to position overlay content vertically */
        height: 50%;
      }
    </style>
    <title>{{country_info.country_name}}</title>
  </head>
  <body>

    {% load static %}

        {% include 'navbar.html' %}



<hr />


<div class="d-flex justify-content-center">
  <h2 class="text-info">{{country_info.country_name}} </h2>
</div>




<!--country-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">


    <div class="carousel-inner">
        <div class="carousel-item active">
        {% with country_info.country_name|add:'.jpg' as image_static %}
            <img class="d-block w-100" src="{% static  image_static %}">
          {% endwith %}
      </div>
  </div>


      <hr />
  </div>

<!--end country-->



    <div class="d-flex justify-content-center">
    <h4 class="text-info">Cities in {{country_info.country_name}}</h4>
  </div>
    <hr />




    <div class="container">
  <div class="row">
    {% for city in top_two_cities %}
    <div class="col-sm-4">
      <a href="{{city.city_name}}" >
        {% with city.city_name|add:'.jpg' as image_static %}

        <img class="img-fluid" src="{% static  image_static %}" alt="" style="width:120px;height:100px;">

        {% endwith %}
        {{city.city_name}}
      </a>
    </div>
    {% endfor %}

  </div>
</div>

    <hr />



    <div class="container">
  <div class="row">
    {% for city in next_top_two_cities %}
    <div class="col-sm-4">
      <a href="{{city.city_name}}" >
        {% with city.city_name|add:'.jpg' as image_static %}
        <img class="img-fluid" src="{% static  image_static %}" alt="" style="width:120px;height:100px;">
        {% endwith %}
        {{city.city_name}}
      </a>

    </div>
    {% endfor %}

  </div>
</div>



        <hr />



    <div class="container">
  <div class="row">
    {% for city in last_top_two_cities %}
    <div class="col-sm-4">
      <a href="{{city.city_name}}" >
        {% with city.city_name|add:'.jpg' as image_static %}
        <img class="img-fluid" src="{% static  image_static %}" alt="" style="width:120px;height:100px;">
        {% endwith %}
        {{city.city_name}}
      </a>

    </div>
    {% endfor %}

  </div>
</div>


<br>
<br>

<div class="container">
  <div class="row">
    {% for city in rest_city_records %}
    <div class="col-sm-4">
      <a href="{{city.city_name}}" >
        {{city.city_name}}
      </a>

    </div>
    {% endfor %}

  </div>
</div>


<br>
<br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
  </body>
</html>
