
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Destinations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for c in all_countries %}
            <a class="dropdown-item" href="{% url 'country' c.country_name %}">{{c.country_name}}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">See All Countries</a>
        </div>
      </li>
          {% if city_info%}

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Bookings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item" href="book">Hotels</a>
          <a class="dropdown-item" href="rent">Car Rentals</a>
        </div>
      </li>
      {% endif %}
        {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link text-white" href="profile">View Profile<span class="sr-only">(current)</span></a>
      </li>

        <li class="nav-item active">
        <a class="nav-link text-white" href="logout">Sign Out<span class="sr-only">(current)</span></a>
      </li>

        {% else %}
        <li class="nav-item active">
        <a class="nav-link text-white" href="signin"> Sign in<span class="sr-only">(current)</span></a>
      </li>

        <li class="nav-item active">
        <a class="nav-link text-white" href="signup"> Sign up<span class="sr-only">(current)</span></a>
      </li>

      {% endif %}

    </ul>

  </div>
</nav>