<!DOCTYPE html>
    {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/SignUp.css' %}" rel="stylesheet">
</head>
<body background="{% static 'bg.jpg' %}" style="background-repeat: no-repeat;  background-size: cover;">
    <div id ="myform">
        <form method="POST" >{% csrf_token %}
            <h1>Edit Profile form</h1>
                {% for field in form %}
                  <p>
                      {% if field != form.password%}
                    {{ field.label_tag }}
                    {{ field }}<br>
                    {% for error in field.errors %}
                      <small style="color: red">{{ error }}</small><br>
                    {% endfor %}
                  </p>
                    {% endif %}
                {% endfor %}
            <section>
                <p> <button type="submit">Validate Edit</button> </p>
            </section>
        </form>
    </div>
</body>
</html>