<!DOCTYPE html>
    {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/LogIn.css' %}" rel="stylesheet">
</head>
<body background="{% static 'bg2.jpg' %}" style="background-repeat: no-repeat; background-size: cover;">
    <div id ="myform">
        <form method="POST" >
            {% csrf_token %}
            <h1>Login form</h1>
                {% for field in form %}
                  <p>
                    {{ field.label_tag }}
                    {{ field }}<br>
                  </p>
                {% endfor %}
                    {% for  error in form.non_field_errors %}
                    <div class="alert alert-success">
                        <small style="color: red">{{ error }}</small>
                    </div>
                    {% endfor %}
            <section>
                <p> <button type="submit">Log In</button> </p>
            </section>
        </form>
    </div>
</body>
</html>