<!DOCTYPE html>
    {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/myProfile.css' %}" rel="stylesheet">
</head>
<body background="{% static 'profile1.jpg' %}" style="background-repeat: no-repeat; background-size: cover;">

    <div id="data">
           <h2 style="text-decoration:underline;">Contact information</h2>
            <table>
                <tr>
                    <td>Full Name :
                    </td>
                    <td>{{user.first_name}}  {{user.last_name}}
                    </td>
                </tr>
                <tr>
                    <td>User Name :
                    </td>
                    <td>{{user.username}}
                    </td>
                </tr>
                <tr>
                    <td>User E-mail :
                    </td>
                    <td>{{user.email}}
                    </td>
                    <td><a href="#">Edit Your Profile ...</a>
                    </td>
                </tr>
            </table>
        {{user.user_id}}
    </div>
    <div id="slider"></div>
        <button id="hotel" > Hotel reservations<!--<img class="icons" src="{% static 'hotelicon.png' %}">--></button>
        <button id="car" > Car Rentals<!--<img class="icons" src="{% static 'caricon.png' %}">--></button>
        <button id="post" > Posts<!--<img class="icons" src="{% static 'posticon.png' %}">--></button>
        <button id="comment" > Comments<!--<img class="icons" src="{% static 'commenticon.png' %}">--></button>

</body>
</html>