{% for item in all %}
<tr>
    <td>{{item.city_ID}}</td>
    <td>{{item.city_name}}</td>
    <td>{{item.local_name}}</td>
    <td>{{item.country_ID}}</td>
    <td>{{item.latitude}}</td>
    <td>{{item.longitude}}</td>
    <td>{{item.description}}</td>
    <td>{{item.rate}}</td>
    <td>
        <a href="Cities/edit/{{item.city_name}}" class="btn btn-info" role="button">Edit</a>
    </td>
    <td>
        <a href="Cities/delete/{{item.city_ID}}" class="btn btn-info" role="button">Delete</a>
    </td>
</tr>
{% endfor %}
