
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">


            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/Control/panel"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Tables and Forms</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="/Control/panel/CarRental">Car Rental</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/CarReservation">Car Reservation</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/Cities">Cities</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/Comments">Comments</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/Countries">Countries</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/Experience">Experience</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/Locations">Locations</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/Users">Users</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="/Control/panel/RentalForm">Car Rental</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/ReservationForm">Car Reservation</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/CitiesForm">Cities</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/CommentsForm">Comments</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/CountriesForm">Countries</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/ExperienceForm">Experience</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/LocationsForm">Locations</a></li>
                            <li><i class="fa fa-table"></i><a href="/Control/panel/UsersForm">Users</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->